img.background_2 {
    min-height: 100vh; /* Используем viewport height для высоты */
    min-width: 100vw; /* Используем viewport width для ширины */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Убедимся, что фон находится позади других элементов */
  }
  img.ramka_dm {
    position: absolute;
    top: 7%;
    left: 78%;
    width: 20%;
    height: 14%;
  }
  .buttonDM_1 {
    position: absolute;
    display: grid;
    flex-direction: column;
    gap: 10px;
    left: 81.9%;
    top: 7.9%;
    grid-template-columns: repeat(2, auto);
    width: 16%;
    height: 12%;
    transition: transform 0.3s;
  }
  .buttonDM_1:hover {
    transform: scale(1.05);
    cursor: pointer;
    
  }
  /* Смещаем кнопки из левой колонки (1-я и 3-я) немного влево */
  .buttonDM_1 button:nth-child(odd) {
    transform: translateX(-46%); /* смещаем на 5 пикселей влево, значение можно корректировать */
  }
  /* Смещаем кнопки из правой колонки (2-я и 4-я) немного вправо */
  .buttonDM_1 button:nth-child(even) {
  transform: translateX(-2%); /* смещаем на 5 пикселей вправо */
}
.buttonDM1 {
  background-color: transparent; /* Прозрачный фон */
  background-image: url("buttons/gm\ b1.png");
  background-size: cover; /* Масштабирование изображения */
  border: none; /* Убираем границу, если она есть */
  padding: 0; /* Убираем отступы, если они мешают */
}
.buttonDM2 {
  background-color: transparent; /* Прозрачный фон */
  background-image: url("buttons/gm\ b3.png");
  background-size: cover; /* Масштабирование изображения */
  border: none; /* Убираем границу, если она есть */
  padding: 0; /* Убираем отступы, если они мешают */
}
.buttonDM3 {
  background-color: transparent; /* Прозрачный фон */
  background-image: url("buttons/gm\ b2.png");
  background-size: cover; /* Масштабирование изображения */
  border: none; /* Убираем границу, если она есть */
  padding: 0; /* Убираем отступы, если они мешают */
}
.buttonDM4 {
  background-color: transparent; /* Прозрачный фон */
  background-image: url("buttons/gm\ b4.png");
  background-size: cover; /* Масштабирование изображения */
  border: none; /* Убираем границу, если она есть */
  padding: 0; /* Убираем отступы, если они мешают */
}

img.status_dm {
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 87%;
  width: auto; /* Автоматическая ширина для сохранения пропорций */
  height: auto; /* Автоматическая высота для сохранения пропорций */
}
img.Chat {
  position: absolute;
  top: 7%;
  left: 30%;
  width: 20%;
  height: 66%;
}
img.Player1 {
  position: absolute;
  top: 11.4%;
  left: 61%;
  transform: translate(-50%, -50%);
  width: 22%; /* Относительная ширина */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  max-height: 83px; /* Ограничиваем максимальную высоту */
}
img.Player2 {
  position: absolute;
  top: 21%;
  left: 61%;
  transform: translate(-50%, -50%);
  width: 22%; /* Относительная ширина */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  max-height: 83px; /* Ограничиваем максимальную высоту */
}
img.Player3 {
  position: absolute;
  top: 30.5%;
  left: 61%;
  transform: translate(-50%, -50%);
  width: 22%; /* Относительная ширина */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  max-height: 83px; /* Ограничиваем максимальную высоту */
}
img.Player4 {
  position: absolute;
  top: 40%;
  left: 61%;
  transform: translate(-50%, -50%);
  width: 22%; /* Относительная ширина */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  max-height: 83px; /* Ограничиваем максимальную высоту */
}
img.Player5 {
  position: absolute;
  top: 49.5%;
  left: 61%;
  transform: translate(-50%, -50%);
  width: 22%; /* Относительная ширина */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  max-height: 83px; /* Ограничиваем максимальную высоту */
}
img.Player6 {
  position: absolute;
  top: 59.2%;
  left: 61%;
  transform: translate(-50%, -50%);
  width: 22%; /* Относительная ширина */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  max-height: 83px; /* Ограничиваем максимальную высоту */
}
img.ivent_2 {
  position:absolute;
  width: 16%;
  height: 40%;
  top: 37%;
  left: 82.5%;
}
img.ivent_bar1_1 {
  position: absolute;
  width: 16%;
  height: 10%;
  top: 77%;
  left: 82.5%;
}
img.ivent_bar2_2 {
  position: absolute;
  width: 16%;
  height: 10%;
  top: 87%;
  left: 82.5%;
}
